<nav class="navbar" [class.fixed]="isFixed">
  <div class="navbar-container">
    <nav class="nav-left">
      <div class="logo">
        <a href="#home">
          <img src="/assets/logos/libyanahub-logo.png" alt="ليبيانا هب" class="logo-image" [class.shrink-on-fixed]="isFixed">
          <span class="logo-name" [class.hide-on-fixed]="isFixed">ليبيانا هب</span>
        </a>
      </div>
    </nav>

    <nav class="nav-right">
      <button class="btn-register pulse-button" (click)="navigateToRegister()">{{ t('heroGetStarted') }}</button>
    </nav>
  </div>
</nav>
